$min-width-md: 769px;
$max-width-md: 1024px;

$min-width-lg: 1025px;
$max-width-lg: 1200px;

$min-width-xl: 1201px;

.register-wrapper {
  display: flex;
  align-content: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  overflow: auto;
  background-color: #EEEEEE;
}

.register-container {
  display: grid;
  width: 100%;
  grid-template-rows: 10% 78%;
  grid-row-gap: 20px;
  grid-template-areas:
          "title"
          "body"
  ;

  &__title {
    grid-area: title;
    font-family: canada-type-gibson, sans-serif;
    font-style: normal;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    margin: auto;

    @media screen and (max-width: $max-width-md){
      padding: 2rem;
    }

    h1 {
      @media screen and (min-width: $min-width-lg){
        font-size: 36px;
      }
    }

    b {
      color: #fd553c;
      @media screen and (min-width: $min-width-lg){
        font-size: 36px;
      }
    }
  }

  &__body {
    max-width: inherit;
    padding: 1rem 2rem;
    grid-area: body;
    display: grid;
    align-content: center;
    align-items: center;
    grid-column-gap: 20px;
    grid-template-areas:
          "card card card";

    @media screen and (max-width: $max-width-md){
      margin: auto;
      grid-row-gap: 60px;
      grid-template-areas:
          "card"
          "card"
          "card"
    ;
    }

    Paper {
      grid-area: card;
    }

  }

  &__text {
    display: grid;
    height: 540px;
    width: 300px;
    padding: 20px;
    margin: auto;

    b {
      color: #fd553c;
      font-size: 24px;
      font-weight: bold;
    }

    h2 {
      margin: auto;
      text-align: left;
      font-size: 24px;
    }
    p {
      font-size: 20px;
      font-weight: bolder;
    }
    .input {
      border-bottom: 3px solid #fd553c;
    }

  }
}

.continue-btn {

  &__icon {
    color: white;
    font-size: 2em !important;
    background: #fd553c;
    border-radius: 50%;
  }
}

.photo-bubble-wrapper {
  margin: auto;
}

.photo-bubble {
  height: 200px;
  width: 200px;
  background: #fd553c;
  border-radius: 50%;

  img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
  }

  &__add-bubble {
    border-radius: 50%;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    position: relative;
    top: 10rem;
    left: 8rem;
    height: 50px;
    width: 50px;
    display: grid;
    align-content: center;

    &__icon {
      fill: #fd553c;
    }
  }
}

.helper-text {
  font-family: canada-type-gibson, sans-serif;
  font-style: normal;
  color: rgba(0,0,0,0.3);
  font-size: 10px !important;
  text-transform: uppercase;
}

.hide {
  display: none;
}