$min-width-md: 769px;
$max-width-md: 1024px;

$min-width-lg: 1025px;
$max-width-lg: 1200px;

$min-width-xl: 1201px;

.register-wrapper {
  height: 100vh;
  width: 100vw;
  overflow: auto;
  background-color: #EEEEEE;
}

.register-container {
  display: grid;
  width: 100vw;
  grid-template-rows: 10% 78%;
  grid-row-gap: 20px;
  grid-template-areas:
          "title"
          "body"
  ;

  &__title {
    grid-area: title;

    h1 {
      font-family: canada-type-gibson, sans-serif;
      font-style: normal;
      text-align: center;
      text-transform: uppercase;
      font-weight: bold;
      @media screen and (min-width: $min-width-lg){
        font-size: 36px;
      }
    }

    b {
      font-family: canada-type-gibson, sans-serif;
      font-style: normal;
      color: #fd553c;
      font-size: 72px;
      text-transform: uppercase;
      font-weight: bold;
      @media screen and (min-width: $min-width-lg){
        font-size: 36px;
      }
    }
  }

  &__body {
    max-width: inherit;
    padding: 0rem 2rem;
    grid-area: body;
    display: grid;
    align-content: center;
    align-items: center;
    grid-column-gap: 20px;
    grid-template-areas:
          "card card card";

    //@media screen and (min-width: $min-width-lg){
    //  grid-column-gap: 20px;
    //}

    Paper {
      grid-area: card;
    }

    p {

    }

    h2 {

    }
  }

  &__text {
    height: 100%;

    b {
      color: #fd553c;
      font-size: 28px;
      font-weight: bold;
    }

    h2 {
      text-align: left;
      font-size: 28px;
    }
    p {
      font-size: 20px;
      font-weight: bolder;
    }
    input {
      width: 100%;
      border: none;
      //border-radius: 20px;
      border-bottom: 3px solid #fd553c;
      background-color: #EEE;
      height: 43px;
    }

  }
}

.continue-btn {
  margin-left: 85% !important;

  &__icon {
    color: white;
    font-size: 2em !important;
    background: #fd553c;
    border-radius: 50%;
  }
}

.photo-bubble {
  height: 200px;
  width: 200px;
  background: #fd553c;
  border-radius: 50%;

  &__add-bubble {
    border-radius: 50%;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    position: relative;
    top: 140px;
    left: 155px;
    height: 50px;
    width: 50px;
    display: grid;
    align-content: center;

    &__icon {
      fill: #fd553c;
    }
  }
}

.section {

}