.wrapper {
  background-color: #EEEEEE;
  height: 100vh;
  padding: 1rem 0rem;

  &__container {
    padding: 1rem 1rem;
    background-color: white;
    border-radius: 20px;
    height: 100%;

    &__left-column {
      padding-left: 1rem;
    }

    &__right-column {

    }
  }
}

