.description_card {
  background-color: #2b2b2b !important;
  border-radius: 35px !important;
  color: white !important;

  &__title {
    text-align: center;
    font-size: 14px;
  }

  &__body {
    text-align: center;
    font-size: 10px;
    height: max-content;
    padding-bottom: 2rem;
  }
}